body{
    background-color: #937DC2;
    font-family: 'Courier New', monospace, Courier  ;
}

h2{
    font-size: larger;
}

table{
    background-color: #FFE6F7;
    
}
tr,td{
    border-radius: 5px;
}

button{
    border-radius: 10px;
}